<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="language" content="pt-br"/>
    <meta name="robots" content="NOFOLLOW"/>
    <!-- Todos os recursos externos do sistema -->
<link rel="stylesheet" href="css/_global.css" type="text/css" media="all"/>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /><script type="text/javascript" src="/index_files/jquery-1.3.2.min.js"></script>

<script type="text/javascript" src="/index_files/jquery.maskedinput.pack.js"></script>

<script type="text/javascript" src="/index_files/prototype.js"></script>

<script type="text/javascript" src="/index_files/application.js"></script>

<script type="text/javascript" src='/index_files/validation'></script>
    <script type="text/javascript" src="/index_files/login.js"></script>

    <link rel="stylesheet" href="/index_files/login.css" type="text/css" media="all"/>
    
</head>
<body onload="">

<div class="containerGlobal" align="center">

    <div class="containerLogin">
        <div>
            <img src='/images/logo_policiaCivil_auth.png' />
        </div>
        <div class="form" align="left" style="margin: 0">
            
<div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 100px; position: relative; right:58px; '>
        <div style='width: 500px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
        <div style='width: 300px; float: left; font-family: Arial, sans-serif;'>
            <div style='font-size: 14px; font-weight: bold;  text-align: center; margin-top: 12px;'>Atenção &nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Este sistema é compatível  com os navegadores: Mozilla Firefox 3.5 ou superior, Google Chrome e Opera.</div>
        </div>
      </div>
</div>
<br/>
        </div>
        <div>
            
                
            <br clear="all">
        </div>
    </div>

</div>

</body>
</html>
